<div>
    <div nz-row [nzGutter]="16">
      <!-- Left Card (Post New Income) -->
      <div nz-col nzFlex="6">
        <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Post New Income">
          <form nz-form [formGroup]="incomeForm" (ngSubmit)="submitForm()" class="custom-form">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input the title!">
                <input nz-input formControlName="title" placeholder="Enter title" />
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input the amount!">
                <input type="number" nz-input formControlName="amount" placeholder="Enter amount" />
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label>Date</nz-form-label>
              <nz-form-control nzErrorTip="Please input the date!">
                <nz-date-picker style="width: 100%" formControlName="date"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-control>
                <textarea nz-input placeholder="Enter description"
                          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                          formControlName="description">
                </textarea>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-control nzErrorTip="Please select the category!">
                <nz-select nzAllowClear nzPlaceHolder="Select category" formControlName="category">
                  <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category" [nzValue]="category"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
  
            <button nz-button nzType="primary" nzBlock [disabled]="incomeForm.invalid">
              Post Income
            </button>
          </form>
        </nz-card>
      </div>
  
      <!-- Right Card (Past Incomes) -->
      <div nz-col nzFlex="8">
        <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Past Incomes">
          <!-- <div *ngIf="incomes.length === 0">No incomes posted yet.</div> -->
  
          <div nz-card-grid style="width: 100%;" *ngFor="let income of incomes">
            <div nz-row>
              <div nz-col nzSpan="18">
                <span nz-icon nzType="message" nzTheme="outline"></span> {{ income.title }} -
                <span nz-icon nzType="dollar" nzTheme="outline"></span> ₹{{ income.amount }} -
                <span nz-icon nzType="clock-circle" nzTheme="outline"></span> {{ income.date | date: 'mediumDate' }} -
                <span nz-icon nzType="tag" nzTheme="outline"></span> {{ income.category }}
                <!-- <div style="font-size: 13px; color: #888;">{{ income.description || 'No description provided.' }}</div> -->
              </div>
              <div nz-col nzSpan="6" style="font-size: 15px;">
                <span nz-icon nzType="edit" nzTheme="fill" style="color:blue;" routerLink="/income/{{income.id}}/edit"></span>
                <span nz-icon nzType="delete" nzTheme="fill" style="color:red; margin-left: 12px;" (click)="deleteIncome(income.id)"></span>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  