<div>
    <div nz-row [nzGutter]="16">
      <!-- Left Card (Create Budget) -->
      <div nz-col nzFlex="8">
        <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Update Budget">
          <form nz-form [formGroup]="budgetForm" (ngSubmit)="submitForm()" class="custom-form">
  
            <nz-form-item>
              <nz-form-label>Category</nz-form-label>
              <nz-form-control nzErrorTip="Please select a category">
                <nz-select nzAllowClear nzPlaceHolder="Select category" formControlName="category">
                  <nz-option *ngFor="let category of listOfCategory" [nzLabel]="category" [nzValue]="category">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label>Amount</nz-form-label>
              <nz-form-control nzErrorTip="Please enter amount">
                <input type="number" nz-input formControlName="amount" placeholder="Enter budget amount" />
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label>Period</nz-form-label>
              <nz-form-control nzErrorTip="Please select a period">
                <nz-select nzPlaceHolder="Select period" formControlName="period">
                  <nz-option nzValue="monthly" nzLabel="Monthly"></nz-option>
                  <nz-option nzValue="yearly" nzLabel="Yearly"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label>Start Date</nz-form-label>
              <nz-form-control nzErrorTip="Please pick a start date">
                <nz-date-picker style="width: 100%" formControlName="startDate"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
              <nz-form-label>End Date</nz-form-label>
              <nz-form-control nzErrorTip="Please pick an end date">
                <nz-date-picker style="width: 100%" formControlName="endDate"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
  
            <button nz-button nzType="primary" nzBlock [disabled]="!budgetForm.valid">
              Update Budget
            </button>
  
          </form>
        </nz-card>
      </div>
  
     